#link-opener-selection-box {
  position: fixed;
  z-index: 99999999;
  pointer-events: none;
  box-sizing: border-box;
}

#link-opener-selection-box.classic-blue {
  background-color: rgba(0, 150, 255, 0.3);
  border: 2px solid rgba(0, 110, 220, 0.8);
}

#link-opener-selection-box.dashed-red {
  background-color: rgba(255, 0, 0, 0.15);
  border: 2px dashed rgba(220, 0, 0, 0.9);
}

#link-opener-selection-box.dashed-green {
  background-color: rgba(40, 167, 69, 0.15);
  border: 2px dashed rgba(40, 167, 69, 0.9);
}

#link-opener-selection-box.subtle-gray {
  background-color: rgba(150, 150, 150, 0.2);
  border: 1px solid rgba(30, 30, 30, 0.7);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

#status263 {
  color: green;
  font-size: 1.4em;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 1.3em;
  text-align: center;
  line-height: 1.3em;
  font-family: monospace;
  font-weight: 800;
  letter-spacing: 1px;
}